{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/Picture50.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Cycle Rally on World Heart Day</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-6 col-12 z-1 d-flex ftco-animate">
                <div class="pe-lg-5 p-md-5 p-3">
                    <img src="/img/Initiatives/Picture51.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                </div>
            </div>
            <div class="col-lg-6 col-12 z-1 d-flex ftco-animate">
                <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4">Cycle Rally on World Heart Day</h1>
                    <p class="text-muted">As a part of world heart day celebration on 29th September 2019 a cycle rally was organized by Generation Saviour Association in collaboration with Department of Health and Family Welfare, Punjab to spread the message of awareness
                        regarding keeping heart healthy by physical activity, avoiding unhealthy food (including food containing trans-fat) and abstaining from tobacco and alcohol. The cycle rally was flagged off by Director Health and Family Welfare
                        Punjab Dr. Avneet Kaur. On this occasion other dignitaries Dr. GB Singh SNO NCD, civil surgeon Dr. Manjit Singh, Dr. Kuldeep Singh, Dr. Nidhi, Dr. Harmandeep Kaur Epidemiologist, Dr. Bhupinder Singh, Dr. Hasanpreet Kaur, Dr. Sunaina
                        Bansal, health inspector Bhupinder Singh were also present. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}