{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/tobacco-control/17.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">State Level Coordination Committee Meeting, Haryana</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">Haryana State Level Coordination Committee (SLCC) meeting was held under the chairmanship of Sh. Rajiv Arora, ACS Health, Haryana with the technical support of Generation Saviour Association at Haryana Civil Secretariat, Sector 17 Chandigarh
                    on 12 th August, 2021. In the Committee meeting representatives of 13 departments (Department of Railways,Department of Health and Family Welfare, Department of Education, Finance Department, Food and Drug Administration, Department
                    of Agriculture and Rural Development) were present. Sh Rajiv Arora directed departments to enforce the Cigarette and Other Tobacco Products Act, 2003 in both, letter and spirit. He also directed strengthening of Information, Education
                    and Communication activities so that awareness about short-term and long-term ill impacts of tobacco can be given to people from every stratum of life. He also asked the department to ensure that children are saved from the ill effects
                    of tobacco SLCC is a nodal Committee for the implementation, monitoring, and evaluation of tobacco control activities of a state.
                </p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/15.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/16.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/17.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}