{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Healthy Food Initiatives</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    Generation Savior Association has launched the Healthy Food Campaign to eliminate trans-fat foods from school canteens and surrounding areas within a 200-meter radius of schools. The campaign urges schools to ban the sale of junk food and encourages parents
                    to pack healthy, trans-fat-free tiffins for their children. With rising cases of cardiovascular diseases in Punjab, this initiative aims to create healthier school environments and promote better eating habits among students. President
                    Opinder Kaur Gill emphasizes the urgent need for parents and schools to work together to safeguard the health of the next generation.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5" id="listimg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/child-obesity">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/Initiatives/Picture40.png" class="card-img-top rounded-4" alt="project-1">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Child Obesity </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/Initiatives/Picture42.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Elimination of Trans Fat</h4>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/gen-next-generation">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2"> Gen-Next Generation</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    #listimg img {
        width: 100%;
        height: 250px !important;
    }
</style>


{{ end }}