{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-10 col-lg-10 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">State level</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    At the state level, Generation Saviour Association provides technical support for State Level Coordination Committee (SLCC) meetings under the National Tobacco Control Programme (NTCP). These meetings bring together key departments to review progress,
                    discuss Tobacco Vendor Licensing, and strengthen the implementation of COTPA, 2003 and related tobacco control measures.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5" id="listimg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/awareness-program-for-health-care-communities">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/orientation-sessions/1.png" class="card-img-top rounded-4" alt="project-1">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Awareness Program for Health care communities</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/law-enforcers-training-for-enforcing-cotpa-2003-peca-2019">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Law Enforcers training for Enforcing COTPA,  2003, PECA 2019 </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/sensitization-workshop-for-high-court-employees">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Sensitization Workshop for High Court Employees</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/state-level-coordination-committee-haryana-2021">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">State Level Coordination Committee Meeting, Haryana 2021</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/state-level-coordination-committee-haryana-2024">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">State Level Coordination Committee Meeting, Haryana 2024</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/state-level-coordination-committee-punjab-2021">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">State Level Coordination Committee Meeting, Punjab 2021</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/state-level/state-level-coordination-committee-punjab-2024">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">State Level Coordination Committee Meeting, Punjab 2024</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<style>
    #listimg img {
        width: 100%;
        height: 250px !important;
    }
    
    #listimg h4 {
        font-size: 20px;
        text-align: justify;
    }
</style>


{{ end }}