{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/tobacco-control/10.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Regional Workshop on Promotion, Adoption & implementation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">Implementation of New Initiatives for Tobacco Control Representatives from 9 states participated in Regional Workshop on Promotion, Adoption and Implementation of New Initiatives for Tobacco Control organised by Generation Saviour Association
                    held under leadership of Dr Balbir Singh, Health Minister, Punjab.The Key recommendations from the Regional consultation were- Encouraging and Institutionalising Tobacco-free Jurisdictions, Mandatory License for Selling Tobacco ,Increasing
                    tobacco access age at par with alcohol permissible age, Effective E -Cigarette Ban, Prohibiting government jobs to tobacco users, Joint enforcement squad, Effective and comprehensive ban on TAPS, Harnessing the power of social media
                    and OTT platforms for effective tobacco control, Increasing access to tobacco-cessation treatment and products and Integration with other programmes.</p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/tobacco-control/10.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/tobacco-control/11.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/tobacco-control/12.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}