{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Chuppi Todho</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">Women have often been silenced from generations and looked down upon when they standup even for themselves. To encourage women to stand up for themselves and the ones around then Girls Rise celebrated the festival of Teej under the theme
                    Chuppi Todho were women, young and old, who shared their experiences through art forms like songs, poetry, dance, drama and the like. </p>
                <p class="lead">Women came in large numbers and shared their tales of trauma and sacrifice, burnt at the altar of upholding respect and honour of family. </p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-free-aam-admi-clinics.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-free-aam-admi-clinics2.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>
{{ end }}