{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Breaking Barriers – Gender Equality from Different Perspectives</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">Girls Rise for Mohali (GRM), on the occasion of National Girl Child Day conducted a Conference on Breaking Barriers – Gender Equality from Different Perspectives (Part II) in Khalsa College, Mohali on 24 January, 2019.</p>
                <p class="lead">Speaking on the occasion, Mr. Vivek Atray, motivational speaker, author and former IAS Officer said that there is a need to bring change in the mind set up of the society so that femalechild is not discriminated against. Unless the society
                    accepts that men and women are equal there cannot be a positive change in the world around us. He said, “The first lessons of gender equality begin at home. Parents and guardians are duty bound to raise their children in an environment
                    that congenial for every child, especially the girl child.” “Teachers too have an equal responsibility”, he further added.
                </p>
                <p class="lead">Mrs Bubbu Tir, a poet and an author speaking on the occasion said “Females need to stand up not just for themselves but for everyone around. Do not let circumstances create you but create circumstances that empower you to do good for everyone
                    around”. She said, “while women are trying their best to strike a balance in personal and professional life, it is the duty of every male counterpart to support them. Only when men and women walk shoulder to shoulder and participate
                    equally the real development of country takes place” Miss Paramjit Kaur, former Chairperson State Women Commission Punjab, while speaking on women in Politics urged all women to stand up for their political rights”. She urged the audience
                    to let their daughters take their life decisions and bring out the best in themselves. Ms Opinder Preet Kaur, Founder GRM and a community mobilizer, while addressing the august gathering of representatives of various governmental and
                    non-governmental organizations, social groups, professionals and students from different colleges and schools said that when women support great things happen but when men support women, incredible things happen.</p>
                <p class="lead">Since 2008, every year, Government of India celebrates the National Girl Child Day to highlight the inequalities faced by girls in the country and to promote awareness about the rights of a girl.
                </p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/grm/Breaking-Barriers/1.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/grm/Breaking-Barriers/2.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/grm/Breaking-Barriers/3.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>
{{ end }}