{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-7 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">About Generation Saviour Association</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    GSA is currently supported by Vital Strategies and the World Health Organisation (WHO). Previously, it collaborated with the International Union Against Tuberculosis & Lung Disease (The Union) and Global Health Advocacy Incubator. GSA works closely with
                    the Department of Health and Family Welfare in Punjab, Haryana, and Chandigarh.
                </p>
                <p class="lead">The organization has trained police officials, government doctors, health professionals, and law enforcement officials under the National Tobacco Control Program (NTCP) at both state and district levels. GSA assists the Department of Health
                    and Family Welfare in organizing State and District Level Coordination committee meetings for NTCP and participates in enforcement drives in these regions. Through one-on-one meetings, GSA facilitates inter-department coordination
                    for effective NTCP implementation.</p>

                <p class="lead">Generation Saviour Association conducts awareness programs on public health threats to educate current and future generations. It also organizes medical camps to support community health. GSA is known for initiatives such as Tobacco Free
                    Buildings, Children Against Tobacco, Tobacco Free Sabzi Mandies, Healthy School Campaign, and Courtesy Notices to Tobacco Vendors.</p>

            </div>
        </div>
    </div>
</div>



<!-- Our Volunteers -->
<div class="py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center" data-aos="flip-left" data-aos-duration="2000">
                    <img src="/img/Department-Health-Chandigarh.png" alt="testimonials-3">
                    <div class="card-body">
                        <h5 class="card-title">Department Health Chandigarh</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center" data-aos="flip-right" data-aos-duration="2000">
                    <img src="/img/Department-Health-Haryana.png" alt="testimonials-3">
                    <div class="card-body">
                        <h5 class="card-title">Department Health Haryana</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center" data-aos="flip-right" data-aos-duration="2000">
                    <img src="/img/Department-Health-Punjab.png" alt="testimonials-3">
                    <div class="card-body">
                        <h5 class="card-title">Department Health Punjab</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center" data-aos="flip-left" data-aos-duration="2000">
                    <img src="/img/National-Tobacco-Control-Program.png" alt="testimonials-3">
                    <div class="card-body">
                        <h5 class="card-title">National Tobacco Control Program</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end }}