{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/Picture34.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Tobacco Free Generation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3">
                    <div class="row">
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/Initiatives/Picture35.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/healthy-school-initiative/orientation-sessions/1.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4">Tobacco Free Generation</h1>
                    <p class="text-muted">The Tobacco-Free Generation (TFG) concept, introduced by Professor A.J. Berrick at the 15th World Conference on Tobacco and Health (2012), proposes that individuals born after a certain year would never be allowed to buy tobacco, creating
                        a generation free from addiction and disease. In India, Generation Saviour Association (GSA), with support from The Union (now as Vital Strategies), has led the movement by organizing national consultations, conducting a youth
                        perception study, developing TFG fact sheets, and forming expert committees. GSA’s key recommendations include raising the tobacco use age to 21 years, banning designated smoking areas, enforcing vendor licensing, banning new tobacco
                        products, strengthening advertising bans, promoting tobacco-free workplaces and schools, and expanding cessation services. A major milestone was GSA’s organization of India’s first National Consultation on TFG in Chandigarh, bringing
                        together 13 states and key stakeholders to push for institutionalizing TFG as a national policy. GSA continues to lead efforts to secure a healthier, tobacco-free future for India’s youth. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}