{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Gender Equity-GRM activity</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    "Girls Rise for Mohali," founded by Opinder Preet Kaur in 2015 is a transformative initiative aimed at empowering young girls in the Mohali region and presently expanding in and beyond the region . The program focuses on providing educational opportunities,
                    mentorship, and emotional support to help girls build confidence and self-esteem. It strives to break barriers by encouraging girls to pursue their dreams, whether in academics, sports, or other areas of personal development. By creating
                    a safe space for growth and learning, "Girls Rise" fosters a community where girls can overcome challenges and realize their full potential. Through this initiative, Opinder Preet Kaur is inspiring the next generation of strong, confident
                    women.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container py-5">
        <div class="row g-5">
            <!-- ----------------1-------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-1.jpg" class="card-img-top rounded-4" alt="project-1">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Breaking Barriers: Gender Equality Conference by Girls Rise</h4>
                        <p class="card-text text-muted small">Girls Rise conducted a conference promoting gender equality with insights from authors, speakers, and activists...</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/gender-equity-grm-activity/breaking-barriers-gender-equality-conference" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ----------------2-------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-2.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Chuppi Todho: Teej Celebration Empowering Women's Voices</h4>
                        <p class="card-text text-muted small">Girls Rise celebrated Teej under the theme Chuppi Todho, encouraging women to share their stories through art...</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/gender-equity-grm-activity/chuppi-todho-teej-celebration-women-empowerment" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ----------------3-------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-3.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Fitness Camp by Girls Rise: Prioritizing Women's Health</h4>
                        <p class="card-text text-muted small">Girls Rise held a fitness camp to raise awareness on women's health, encouraging fitness and self-care...</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/gender-equity-grm-activity/girls-rise-fitness-camp-for-women-health" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ----------------4-------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-4.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Honouring Women on National Girl Child Day</h4>
                        <p class="card-text text-muted small">Girls Rise celebrated National Girl Child Day by honoring women excelling in various fields with Ms. Mia Yen...</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/gender-equity-grm-activity/international-womens-day-gender-equality-celebration" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ----------------5-------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-5.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Life in Lockdown: Online Session for Women's Mental Health</h4>
                        <p class="card-text text-muted small">Girls Rise hosted a session for women to share their lockdown experiences and learn coping strategies...</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/gender-equity-grm-activity/life-in-lockdown-session-for-women" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ----------------6-------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-6.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Honouring Women on National Girl Child Day</h4>
                        <p class="card-text text-muted small">Girls Rise celebrated National Girl Child Day by honoring women excelling in various fields with Ms. Mia Yen. ..</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/gender-equity-grm-activity/national-girl-child-day-honouring-talented-women" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end }}