{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/3.jpg');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Smoke-free homes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-6 col-12 z-1 ftco-animate">
                <div class="pe-lg-5 p-md-5 p-3 text-end">
                    <img src="/img/Initiatives/2.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                </div>
            </div>
            <div class="col-lg-6 col-12 z-1 ftco-animate">
                <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4">Smoke-free homes</h1>
                    <p class="text-muted">Generation Saviour Association started its new chapter 'Tobacco Smoke Free Homes' at House Building Cooperative Society, Sector-79, Mohali, Punjab. The association organized a sensitisation session for the residents of the society
                        to raise awareness about the harmful effects of tobacco. Members of the Cooperative House Building Society were also present on the occasion. Ms. Opinder Preet Kaur, President of GSA, Mr. Hakam Singh Jawandha, Media Advisor, GSA,
                        Mr. Ashoke Sofat, President, Cooperate House Building Society, Mohan Lal Lot, Vice President, Cooperate House Building Society, Mr. Suresh Kumar Sharma and Mr. Adeyatam Kumar, Executive Members, Mr. Briginder Singh, Advocate, Mr.
                        Vipin Bajaj, Member GSA discussed the issue with the audience and appeal to them to declare their houses as 'Tobacco Smoke Free Homes' </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}