{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/compliance-studies.jpg');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Compliance Studies</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3">
                    <div class="row">
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/Initiatives/Picture32.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/Initiatives/Picture33.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4">Compliance Studies</h1>
                    <p class="text-muted">The Compliance Assessment Survey in Haryana and Chandigarh was conducted by the Strategic Institute for Public Health Education and Research (SIPHER), Postgraduate Institute of Medical Education and Research (PGIMER), Chandigarh, with
                        technical support from Generation Saviour Association (GSA)
                        <br>
                        <a href="/report/Haryana-Report-2019.pdf"> <b>Haryana report 2019</b> </a>
                        <br>
                        <a href="/report/Haryana-report-2024.pdf"> <b>Haryana report 2024</b> </a>
                        <br>
                        <a href="/report/Compliance-Assessment-of-Punjab.pdf"> <b>Compliance Assessment of Punjab Report</b> </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}