{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/Ferozpur.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">District Level Sensitization Workshop for Stakeholders</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-12 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3">
                    <div class="row">
                        <div class="col-md-4 d-flex ftco-animate">
                            <img src="/img/Initiatives/Moga.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <img src="/img/Initiatives/Mohali.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <img src="/img/Initiatives/Patiala.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12 z-1"></div>
                <div class="col-lg-9 col-12 z-1">
                    <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                        <h1 class="fw-bold display-4">District Level Sensitization Workshop for Stakeholders</h1>
                        <p class="text-muted">Generation Saviour Association (GSA) organized a series of district-level sensitization workshops in January and February 2020 across Moga, Mohali, Sangrur, and Ferozepur to eliminate industrial trans-fat and prevent cardiovascular
                            diseases and hypertension. The workshops, chaired by senior health officials like Civil Surgeons, District Health Officers, and Food Safety Officers, sensitized around 200 participants including health officers, food business
                            operators, NCD staff, and nursing students. Participants were educated about global and Indian trans-fat regulations and were urged to incorporate trans-fat elimination discussions in district review meetings, enforce the 5%
                            trans-fat limit policy, and conduct regular sampling and testing of oils and fats to make their districts trans-fat free. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}