{{ define "main" }}
<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/Picture31.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Community Level Activity</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    Generation Saviour Association (GSA), Mohali, has actively promoted a tobacco-free generation at the community level through various initiatives. These include the Tri-State Consultation on Tobacco Vendor Licensing, sensitization sessions on AIDS and
                    substance abuse, and POSH Act workshops to create safer, respectful environments. GSA also organizes an annual World No Tobacco Day painting competition, engaging over 1,000 students, and conducts workshops for tobacco vendors across
                    Punjab, Haryana, and Chandigarh to raise awareness and ensure compliance with tobacco laws.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5" id="listimg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/sensitisation-session-in-villages-and-among-residents">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/Sensitisation Session in Villages.png" class="card-img-top rounded-4" alt="project-1">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Sensitisation Session in Villages and among Resident</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/stay-away-from-drugs-stay-safe-from-hiv-aids">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/Stay Away from Drugs.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Stay Away from Drugs: Stay Safe from HIV AIDS</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/nukkad-natak-on-world-no-tobacco-day-2024">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/Nukkad Natak.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Nukkad Natak on World No Tobacco Day 2024</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/posh-intervention">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/POSH Intervention.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">POSH Intervention</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/annual-painting-competition">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/Annual Painting Competition.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Annual Painting Competition </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/sensitization-to-vendors">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/Sensitization to vendors.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Sensitization to vendors</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/community-level/tri-state-consultation">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/community-level/Tri State Consultation.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Tri State Consultation</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    #listimg img {
        width: 100%;
        height: 250px !important;
    }
    
    #listimg h4 {
        font-size: 20px;
        text-align: justify;
    }
</style>


{{ end }}