{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/tobacco-control/5.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">National Consultation on Promotion, Adoption and Implementation of New Initiatives for Combating Trends and Threats in Tobacco Control.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">To address the issues of the emerging trends and threats in tobacco control and to finalize a road map and action plan for regulating and eliminating them, so that a Tobacco Free Generation is raised, Generation Saviour Association with
                    the support of The Union – South East Asia conducted National Consultation on Promotion, Adoption and Implementation of New Initiatives for Combating Trends and Threats in Tobacco Control. Tobacco control is one of the key priorities
                    in India and it is proactive in the implementation of the program is full letter and spirit. But lately, it has been observed that advent of new products and tactics of tobacco industry are posing a serious threat to tobacco control
                    laws and policies and also to the clarion call for Tobacco Free Generation (TFG).The consultation served as an opportunity for sensitization and brainstorming of policy makers, administrators, public health experts and policy influencers
                    on the steps and actions that should be taken by them to combat the threats for furtherance of tobacco control and how they can promote, adopt and implement new initiatives.
                </p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/3.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/4.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/5.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}