{{ define "main" }}

<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Sensitization Workshop for High Court Employees</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3">
                    <div class="row">
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/healthy-school-initiative/orientation-sessions/1.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/healthy-school-initiative/orientation-sessions/1.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4">Sensitization Workshop for High Court Employees</h1>
                    <p class="text-muted">Generation Saviour Association organized a Sensitization Workshop for the employees of the High Court with the objective of raising awareness about the serious health risks associated with tobacco consumption and exposure to second-hand
                        smoke. During the session, employees were informed about the harmful impact of tobacco not just on users, but also on non-smokers through passive smoking. They were sensitized to the urgent need for creating a healthier and safer
                        workplace environment. As part of the workshop, all participants were encouraged to take collective action towards making the High Court premises a Tobacco-Free Zone, in line with national tobacco control laws and public health
                        goals. The initiative aimed to foster a culture of wellness and responsibility among the High Court workforce, inspiring them to become champions for a tobacco-free society.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}