{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Let's Talk Life in Lockdown</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">GSA held an online session on Let's Talk Life in Lockdown on April 24, 2020,</p>
                <p class="lead">Lockdown was not been easy, especially for Women!. Juggling between work from Home and Managing Home was exhausting. It not only impacted the physical health but also the mental well being of women, leading a lasting impact, hampering
                    their personal professional and wellbeing. </p>
                <p class="lead">Therefore a special online session was held by Girls Rise where women from all age groups were called to share their experiences from the lockdown due to COVID-19. Experts shared ways to deal with the lockdown and how to fight against
                    the tough time. Women shared their stories of struggles and victories
                </p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/grm/life-in-lockdown/5.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/grm/life-in-lockdown/1.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/grm/life-in-lockdown/2.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate mt-2">
                        <img src="/img/grm/life-in-lockdown/3.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate mt-2">
                        <img src="/img/grm/life-in-lockdown/4.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>
{{ end }}