{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/tobacco-free-generation3.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Tobacco Free Generation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    The Tobacco-Free Generation (TFG) proposal advocates a strong policy inhibiting the sale and supply of tobacco to individuals born after a certain year. No one born in or after a certain date, like the year 2000, can ever be sold tobacco products including
                    cigarettes.
                </p>
                <p class="lead">Today TFG is referred to an amalgamation of various concepts and theories, like compulsory vendor licensing, constraining emerging trends like hookahs and e cigarettes in youth, etc which all together lead to establishment of a generation
                    that has never and will never in future use tobaccoGeneration Saviour Association, (GSA) with the support of The Union, South East Asia consultations and discussions for discussing about TFG nad how it can be implemented.</p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/tobacco-free-generation.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/tobacco-free-generation2.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <img src="/img/tobacco-free-generation3.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}