{{ define "main" }}
<div class="bg-about d-flex align-items-center justify-content-center">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-7 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">About Generation Saviour Association</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- some points -->
<div class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center mb-4">
            <div class="col-xl-6 col-lg-8 col-md-9 col-12">
                <div class="text-center mb-4" data-aos="fade-up" data-aos-duration="1500">
                    <h2 class="fw-bold display-4">Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center g-md-5 g-5 mb-5">
            <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-duration="1000">
                <h1 class="fw-bold pb-3">
                    Founder
                </h1>
                <p class="lead">
                    Late Ms. Amteshwer Kaur, a practicing advocate in Punjab and Haryana High Court filed her first case, a public Interest Litigation, to ban smoking at public places in the year 1996, marking the birth of Generation Saviour Association (GSA), which was
                    registered in 1997. With her tireless efforts and far sightedness, an army against smoking and tobacco use grew stronger with addition of various patrons from fields like Education, Health, Police, Administration and Judiciary. The
                    founder’s vision and self-less efforts, brought her laurels from both the district and the State.
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <img src="/img/Amteshwer-Kaur.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
            </div>
        </div>
        <div class="row align-items-center g-md-5 g-5 mb-5">
            <div class="col-lg-6 col-12">
                <img src="/img/Amarjeet-Singh.jpg" alt="strong-team" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
            </div>
            <div class="col-lg-6 col-12" data-aos="fade-left" data-aos-duration="1000">
                <h1 class="fw-bold pb-3">President</h1>
                <p class="lead">
                    Presently GSA is headed by Sardar Amarjeet Singh, who with his unwavering vision for the organisation and over three decades of experience in finance and management is dedicated to social change and community development. He is a timeless cornerstone
                    of GSA embodying wisdom, experience, and unwavering commitment, steering organisation's strategic direction, fostering partnerships, and ensuring accountability. He has always been the torchbearer and the taskmaster for the organization
                    since its inception.
                </p>

            </div>
        </div>
        <!-- <div class="row align-items-center g-md-5 g-5 mb-5">
            <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-duration="1000">
                <h1 class="fw-bold pb-3">
                    Director
                </h1>
                <p class="lead">
                    Ms Opinder Preet Kaur Gill, who is a community mobiliser, an author and a MBA in Finance from Wilkes University, USA is presently serving as the Director Programs at Generation Saviour Association(GSA)
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <img src="/img/non-profit.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
            </div>
        </div> -->
    </div>
</div>
<!-- volunteer -->
<div class="mt-4 mb-5">
    <div class="container p-0">
        <div class="row align-items-center g-0 bg-secondary-subtle rounded-5 overflow-hidden">
            <div class="col-lg-6 col-12">
                <img src="/img/image.png" alt="change-children-life" class="rounded-5 img-fluid">
            </div>
            <div class="col-lg-6 col-12">
                <div class="p-5" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4 pb-4">Our Mission and Vision</h1>
                    <p class="text-muted">
                        Generation Saviour Association (GSA) is committed to protecting public health by reducing tobacco use, preventing non-communicable diseases (NCDs), and promoting healthier lifestyles. Through advocacy, education, and capacity building, policy initiatives,
                        strategic partnerships, we aim to create a tobacco-free society and empower communities to make informed health choices.
                    </p>
                    <p class="text-muted">Our mission extends beyond tobacco control to address emerging health threats, including child obesity, cardiovascular diseases, and hypertension. By engaging youth, collaborating with policymakers, and working at the grassroots level
                        in Punjab, Haryana, and Chandigarh, we strive to build a healthier future for generations to come.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end }}