{{ define "main" }}
<div class="hero-wrap" style="background-image: url('/images/bg_7.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Generation Saviour Association</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/bg_3.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="mb-4">The Beginning</h2>
                <p>Late Ms. Amteshwer Kaur, a practicing advocate in Punjab and Haryana High Court filed her first case, a public Interest Litigation, to ban smoking at public places in the year 1996, marking the birth of Generation Saviour Association (GSA),
                    which was registered in 1997. With her tireless efforts and far sightedness, an army against smoking and tobacco use grew stronger with addition of various patrons from fields like Education, Health, Police, Administration and Judiciary.
                    The founder’s vision and self-less efforts, brought her laurels from both the district and the State.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="text-center">
            <h2 class="my-5">Director Generation Saviour Association</h2>
        </div>
        <div class="row d-flex">
            <div class="col-md-8 pl-md-5 ftco-animate">
                <h2 class="mb-4">Mr Amarjeet Singh</h2>
                <p>Presently GSA is headed by Sardar Amarjeet Singh, who with his unwavering vision for the organisation and over three decades of experience in finance and management is dedicated to social change and community development. He is a timeless
                    cornerstone of GSA embodying wisdom, experience, and unwavering commitment, steering organisation's strategic direction, fostering partnerships, and ensuring accountability. He has always been the torchbearer and the taskmaster for
                    the organization since it’s inception.</p>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/bg_3.jpg); width: 100%;"></div>
            </div>
        </div>
        <div class="row d-flex mt-5">

            <div class="col-md-4 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/bg_3.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-8 pl-md-5 ftco-animate">
                <h2 class="mb-4">Opinder Preet Kaur Gill</h2>
                <p>Ms Opinder Preet Kaur, who is a community mobiliser, an author and a MBA in Finance from Wilkes University, USA is presently serving as the Director Programs at GSA </p>
            </div>
        </div>
    </div>
</section>


{{ end }}