{{ define "main" }}

<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">State Level Coordination Committee Meeting, Haryana</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">26 representatives from departments under SLCC attended the SLCC meeting on March 2024 held under the Chairmanship of Dr Sudhir Rajpal, IAS, Additional Chief Secretary, Haryana where NTCP was reviewed. Discussion on urgency of Tobacco
                    Vendor Licensing and Empowered Committee under FCTC 5.3 and how it will support COTPA, 2003 implementation was done.</p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-free-aam-admi-clinics.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-free-aam-admi-clinics2.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {{- partial "Awards-and-honours.html" . -}}
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}