<div class="bg-volunteer py-5">
    <div class="overlay"></div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="text-white" data-aos="fade-left" data-aos-duration="1000">
                    <p class="fw-bold">Awards and honours</p>
                    <div class="progress rounded-pill w-15" role="progressbar" aria-label="Example 1px high"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 4px;">
                        <div class="progress-bar bg-success" style="width: 100%;"></div>
                    </div>
                    <div class="mt-4 mb-5">
                        <h1 class="fw-bold display-4 pb-2">WHO Regional</h1>
                        <p class="lead">Director Special recognition Award, 2024 and by Tobacco Control Cell, Punjab;
                            for its contributions in the field of tobacco control on World No Tobacco Day in 2019.
                        </p>
                    </div>
                    <!-- <a href="/" class="btn btn-success btn-lg px-4">Apply Now</a> -->
                </div>
            </div>
        </div>
    </div>
</div>