<footer class="footer bg-dark text-white">
    <!-- footer-top -->
    <div class="footer-top py-5">
        <div class="container py-4">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="me-lg-5 pe-lg-5">
                        <h5 class="fw-bold pb-2">About Generation Saviour Association</h5>
                        <p class="text-white">Generation Saviour Association (GSA) is dedicated to public health by leading tobacco control efforts through awareness, enforcement, and community programs. Working across Punjab, Haryana, and Chandigarh, GSA collaborates with
                            policymakers, educators, and health professionals to create a tobacco-free society and promote healthier lifestyles.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5 class="fw-bold pb-2">Useful Links</h5>
                    <ul class="list-unstyled d-grid gap-3">
                        <li><a class="text-white" href="/about">About</a></li>
                        <li><a class="text-white" href="/photo">Gallery</a></li>
                        <li><a class="text-white" href="/contact">Contact</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="fw-bold pb-2">Contact Us</h5>
                    <ul class="list-unstyled d-grid gap-3">
                        <li>Address: Generation Saviour Association, # 338, Phase XI, SAS Nagar (Mohali), Punjab, India, Pin code- 160062</li>
                        <li>Ph No: 01724011338, 9814612960</li>
                        <li>E-mail: gsa338@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->

    <!-- footer-bottom -->
    <div class="footer-end py-5 bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <p class="text-center m-0 text-white">Copyright © 2025 Government Services Authority - All Rights Reserved.
                    </p>
                </div>
                <div class="col-auto">
                    <div class="d-flex aling-items-center gap-4">
                        <a class="text-white" href="/"><i class="ri-facebook-circle-fill ri-lg"></i></a> <a class="text-white" href="/"><i class="ri-twitter-fill ri-lg"></i></a>
                        <a class="text-white" href="/"><i class="ri-instagram-fill ri-lg"></i></a> <a class="text-white" href="/"><i class="ri-pinterest-fill ri-lg"></i></a>
                        <a class="text-white" href="/"><i class="ri-youtube-fill ri-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Sidebar Offcanvas -->
{{- partial "script.html" . -}}


</body>

</html>