<div class="">
    <nav class="navbar osahan-main-nav navbar-expand charity-nav p-0 border-bottom border-white border-opacity-25 py-4 py-lg-0 w-100">
        <div class="d-flex align-item-center justify-content-between w-100 px-4">
            <div class="position-relative d-flex align-items-center gap-2 site-brand">
                <div class="lh-1 d-flex align-item-center gap-2">
                    <img class="phone-logo" src="/img/gsa1.png" width="40" alt="Generation savior association">
                    <h5 class="logo-text m-0 text-success">Generation Saviour Association </h5>
                </div>
                <a class="stretched-link" href="/"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-none d-lg-flex justify-content-center w-100">
                    <ul class="navbar-nav gap-3">
                        <li class="nav-item">
                            <a class="nav-link active py-4" href="/">Home</a>
                        </li>
                        <li class="nav-item"><a class="nav-link py-4" href="/about">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle py-4" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Our Initiatives
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="productDropdown">

                                <li class="dropdown-submenu position-relative">
                                    <a class="dropdown-item dropdown-toggle" href="#">Tobacco control</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/training-and-sensitisation-of-stakeholders">Training and sensitisation of stakeholders</a></li>
                                        <li><a class="dropdown-item" href="/compliance-studies">Compliance Studies</a></li>
                                        <li><a class="dropdown-item" href="/tobacco-free-generation-study">Tobacco-free Generation Study</a></li>
                                        <li><a class="dropdown-item" href="/smoke-free-homes">Smoke-free homes</a></li>
                                        <li><a class="dropdown-item" href="/tobacco-free-educational-institutes">Tobacco Free Educational Institutes</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu position-relative">
                                    <a class="dropdown-item dropdown-toggle" href="#">Healthy Food Initiatives</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/child-obesity">Child Obesity</a></li>
                                        <li><a class="dropdown-item" href="/elimination-of-trans-fat">Elimination of Trans Fat</a></li>
                                        <li><a class="dropdown-item" href="/gen-next-generation">Gen-Next Generation</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu position-relative">
                                    <a class="dropdown-item dropdown-toggle" href="#">Gender Equity-GRM activity</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/breaking-barriers-gender-equality-conference">Breaking Barriers: Gender Equality Conference by Girls Rise</a></li>
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/chuppi-todho-teej-celebration-women-empowerment">Chuppi Todho: Teej Celebration Empowering Women's Voices</a></li>
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/girls-rise-fitness-camp-for-women-health">Fitness Camp by Girls Rise: Prioritizing Women's Health</a></li>
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/international-womens-day-gender-equality-celebration">International Women’s Day</a></li>
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/life-in-lockdown-session-for-women">Life in Lockdown: Online Session for Women's Mental Health</a></li>
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/national-girl-child-day-honouring-talented-women">Honouring Women on National Girl Child Day</a></li>
                                        <li><a class="dropdown-item" href="/gender-equity-grm-activity/canadian-high-commission-with-gsa">Canadian High Commission with GSA</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu position-relative">
                                    <a class="dropdown-item dropdown-toggle" href="#">Community Level</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/community-level/sensitisation-session-in-villages-and-among-residents">Sensitisation Session in Villages and among Resident</a></li>
                                        <li><a class="dropdown-item" href="/community-level/stay-away-from-drugs-stay-safe-from-hiv-aids">Stay Away from Drugs: Stay Safe from HIV AIDS</a></li>
                                        <li><a class="dropdown-item" href="/community-level/nukkad-natak-on-world-no-tobacco-day-2024">Nukkad Natak on World No Tobacco Day 2024</a></li>
                                        <li><a class="dropdown-item" href="/community-level/posh-intervention">POSH Intervention</a></li>
                                        <li><a class="dropdown-item" href="/community-level/annual-painting-competition">Annual Painting Competition</a></li>
                                        <li><a class="dropdown-item" href="/community-level/sensitization-to-vendors">Sensitization to vendors</a></li>
                                        <li><a class="dropdown-item" href="/community-level/tri-state-consultation">Tri State Consultation</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle py-4" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Media
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="productDropdown">
                                <li><a class="dropdown-item" href="/product-2">Press Action</a></li>
                                <li><a class="dropdown-item" href="/product-3">Our Gallery</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <div class="d-flex align-items-center gap-3 me-4 ms-1">
                    <a href="/" class="link-success"><i class="ri-facebook-circle-fill"></i></a> <a href="/" class="link-success"><i class="ri-twitter-fill"></i></a> <a href="/" class="link-success"><i
                            class="ri-instagram-fill"></i></a>
                </div>
                <a href="/contact" class="btn btn-success rounded-20 d-none d-lg-block py-2 px-4 ms-2"> <span class="py-1 d-inline-block text-uppercase fw-bold">Contact</span> </a>
                <a href="#" class="link-light d-lg-none ms-auto" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar"><i class="text-success ri-menu-3-line ri-2x"></i></a>
            </div>
        </div>
    </nav>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Generation Saviour Association</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle py-4" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Our Initiatives
                </a>
                <ul class="dropdown-menu" aria-labelledby="productDropdown">

                    <li class="dropdown-submenu position-relative">
                        <a class="dropdown-item dropdown-toggle" href="#">Tobacco control</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/training-and-sensitisation-of-stakeholders">Training and sensitisation of stakeholders</a></li>
                            <li><a class="dropdown-item" href="/compliance-studies">Compliance Studies</a></li>
                            <li><a class="dropdown-item" href="/tobacco-free-generation-study">Tobacco-free Generation Study</a></li>
                            <li><a class="dropdown-item" href="/smoke-free-homes">Smoke-free homes</a></li>
                            <li><a class="dropdown-item" href="/tobacco-free-educational-institutes">Tobacco Free Educational Institutes</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu position-relative">
                        <a class="dropdown-item dropdown-toggle" href="#">Healthy Food Initiatives</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/child-obesity">Child Obesity</a></li>
                            <li><a class="dropdown-item" href="/elimination-of-trans-fat">Elimination of Trans Fat</a></li>
                            <li><a class="dropdown-item" href="/gen-next-generation">Gen-Next Generation</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu position-relative">
                        <a class="dropdown-item dropdown-toggle" href="#">Gender Equity-GRM activity</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/breaking-barriers-gender-equality-conference">Breaking Barriers: Gender Equality Conference by Girls Rise</a></li>
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/chuppi-todho-teej-celebration-women-empowerment">Chuppi Todho: Teej Celebration Empowering Women's Voices</a></li>
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/girls-rise-fitness-camp-for-women-health">Fitness Camp by Girls Rise: Prioritizing Women's Health</a></li>
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/international-womens-day-gender-equality-celebration">International Women’s Day</a></li>
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/life-in-lockdown-session-for-women">Life in Lockdown: Online Session for Women's Mental Health</a></li>
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/national-girl-child-day-honouring-talented-women">Honouring Women on National Girl Child Day</a></li>
                            <li><a class="dropdown-item" href="/gender-equity-grm-activity/canadian-high-commission-with-gsa">Canadian High Commission with GSA</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu position-relative">
                        <a class="dropdown-item dropdown-toggle" href="#">Community Level</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/community-level/sensitisation-session-in-villages-and-among-residents">Sensitisation Session in Villages and among Resident</a></li>
                            <li><a class="dropdown-item" href="/community-level/stay-away-from-drugs-stay-safe-from-hiv-aids">Stay Away from Drugs: Stay Safe from HIV AIDS</a></li>
                            <li><a class="dropdown-item" href="/community-level/nukkad-natak-on-world-no-tobacco-day-2024">Nukkad Natak on World No Tobacco Day 2024</a></li>
                            <li><a class="dropdown-item" href="/community-level/posh-intervention">POSH Intervention</a></li>
                            <li><a class="dropdown-item" href="/community-level/annual-painting-competition">Annual Painting Competition</a></li>
                            <li><a class="dropdown-item" href="/community-level/sensitization-to-vendors">Sensitization to vendors</a></li>
                            <li><a class="dropdown-item" href="/community-level/tri-state-consultation">Tri State Consultation</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team-members">Team Members</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle py-4" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Media
                </a>
                <ul class="dropdown-menu" aria-labelledby="productDropdown">
                    <li><a class="dropdown-item" href="/product-1">Events</a></li>
                    <li><a class="dropdown-item" href="/product-2">Press Action</a></li>
                    <li><a class="dropdown-item" href="/product-3">Our Gallery</a></li>
                </ul>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <div class="mt-4 d-flex align-items-center gap-3">
            <a href="/" class="link-success"><i class="ri-facebook-circle-fill fs-4"></i></a>
            <a href="/" class="link-success"><i class="ri-twitter-fill fs-4"></i></a>
            <a href="/" class="link-success"><i class="ri-instagram-fill fs-4"></i></a>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0 rounded-0">
            <div class="modal-header d-flex justify-content-end border-0 py-0">
                <a href="#" class="link-light" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-fill ri-2x"></i></a>
            </div>
            <div class="modal-body px-5">
                <div class="ratio ratio-16x9">
                    <video id="modalVideo" controls autoplay muted class="w-100 h-100" poster="/img/video_banner.jpg">
                        <source src="/img/About-GSA.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const video = document.getElementById("modalVideo");
    const modal = document.getElementById("videoModal");

    modal.addEventListener('hidden.bs.modal', function() {
        video.pause();
        video.currentTime = 0;
    });
</script>

<style>
    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
        display: none;
    }
    
    .dropdown-submenu:hover .dropdown-menu {
        display: block;
        position: absolute;
    }
    
    @media (max-width: 991px) {
        .dropdown-submenu .dropdown-menu {
            position: relative;
            left: 0;
            top: 0;
            display: none;
            margin-left: 1rem;
        }
        .dropdown-submenu.show .dropdown-menu {
            display: block;
        }
        .dropdown-submenu>.dropdown-toggle::after {
            content: ' ▾';
            float: right;
        }
    }
</style>