<div class="">
    <nav class="navbar osahan-main-nav navbar-expand charity-nav p-0 border-bottom border-white border-opacity-25 py-4 py-lg-0 w-100">
        <div class="container">
            <div class="position-relative d-flex align-items-center gap-2 site-brand">
                <div class="lh-1">
                    <!-- <img style="width:60px" src="/img/gsa.png" alt="Generation savior association"> -->
                    <div class="lh-1">
                        <h5 class="logo-text m-0 text-success">Generation Saviour</h5>
                        <small class="logo-text-span ">Association</small>
                    </div>
                </div>
                <a class="stretched-link" href="/"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-none d-lg-block ms-auto">
                    <ul class="navbar-nav ms-auto gap-3 me-4">
                        <li class="nav-item">
                            <a class="nav-link active py-4" href="/">Home</a>
                        </li>
                        <li class="nav-item"><a class="nav-link py-4" href="/about">About</a></li>
                        <!-- <li class="nav-item"><a class="nav-link py-4" href="/">Causes</a></li> -->
                        <li class="nav-item dropdown osahan-mega-menu position-static">
                            <a class="nav-link dropdown-toggle py-4" href="index.html#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Our Initiatives </a>
                            <ul class="dropdown-menu  m-0 border-opacity-10 border-dark border-top border-bottom p-0 start-0 end-0 rounded-0 shadow">
                                <li>
                                    <div class="dropdown-mega-content container">
                                        <div class="row g-0">
                                            <div class="col-lg-6 p-5 border-end border-start border-opacity-10 border-dark">
                                                <h6 class="dropdown-mega-sub-title mb-3 fw-bold">Tobacco control</h6>
                                                <ul class="dropdown-mega-sub-nav list-unstyled">

                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/tobacco-control/coalition-for-tobacco-free-punjab">Coalition for Tobacco Free Punjab</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/tobacco-control/tobacco-free-generation">Tobacco Free Generation</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/tobacco-control/tobacco-free-aam-admi-clinics">Tobacco Free Aam Admi Clinics</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/tobacco-control/tobacco-free-educational-institutes">Tobacco Free Educational Institutes</a></li>



                                                    <!-- <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Awareness and Enforcement Drives</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Tobacco Free Residential Buildings</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Awareness sessions</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Sensitization Workshop for High Court employees</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Awareness Session with support of Sanjh Kender</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Annual Painting Competition</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Orientation &amp; Capacity Building Workshop under NTCP , Chandigarh</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Regional Workshop on Promotion, Adoption & implementation</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Sensitization Workshop</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">State Level Coordination Committee Meeting , Punjab</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">National Consultation on Promotion, Adoption and Implementation of</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">State Level Coordination Committee Meeting,Punjab</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">State Level Coordination Committee Meeting, Haryana</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Tobacco Cessation Workshop, Chandigarh</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Sensitization cum Review Meeting under NTCP, Punjab</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">Training cum Review Meeting of SNOs and DEOs, Haryana</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/">State Level Coordination Committee Meeting, Haryana</a></li> -->


                                                </ul>
                                            </div>
                                            <div class="col-lg-6 p-5 border-end border-opacity-10 border-dark">
                                                <h6 class="dropdown-mega-sub-title mb-3 fw-bold">Healthy school Initiative</h6>
                                                <ul class="dropdown-mega-sub-nav list-unstyled">
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/healthy-school-initiative/orientation-sessions">Orientation Sessions</a></li>
                                                    <li><a class="dropdown-item px-0 py-1 bg-transparent" href="/healthy-school-initiative/training-of-trainers">Training of Trainers</a></li>

                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link py-4" href="/team-members">Team Members</a></li>
                        <!-- <li class="nav-item"><a class="nav-link py-4" href="/photo">Gallery</a></li> -->
                    </ul>
                </div>
                <div class="d-flex align-items-center gap-3 me-4 ms-1">
                    <a href="/" class="link-success"><i class="ri-facebook-circle-fill"></i></a> <a href="/" class="link-success"><i class="ri-twitter-fill"></i></a> <a href="/" class="link-success"><i class="ri-instagram-fill"></i></a>
                </div>
                <a href="/" class="btn btn-success rounded-20 d-none d-lg-block py-2 px-4 ms-2"> <span class="py-1 d-inline-block text-uppercase fw-bold">Contact</span> </a>
                <a href="/" class="link-light d-lg-none ms-auto" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar"><i class="text-success ri-menu-3-line ri-2x"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- body -->

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0 rounded-0">
            <div class="modal-header d-flex justify-content-end border-0 py-0">
                <a href="index.html#" class="link-light" data-bs-dismiss="modal" aria-label="Close"><i class="ri-close-fill ri-2x"></i></a>
            </div>
            <div class="modal-body px-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/gu-HhgJ7vfM?si=egwKhEDMVeXg3IuJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>