<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vender/jquery/jquery-3.6.4.min.js"></script>
<script src="/vender/aos/dist/aos.js"></script>
<script src="/js/script.js"></script>


<script>
    $(document).ready(function() {

        $('.titleclear').each(function(f) {

            var newstr = $(this).text().substring(0, 45) + "...";
            $(this).text(newstr);

        });
    })
</script>

<script>
    $(document).ready(function() {

        $('.descriptionclear').each(function(f) {

            var newstr = $(this).text().substring(0, 100) + "...";
            $(this).text(newstr);

        });
    })
</script>