{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Elimination of Trans Fat </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    Industrially-produced trans fat is responsible for 540,000 deaths globally each year, besides causing hypertension and cardio vascular diseases. Apart from pushing on strict and comprehensive implementation of Tras fat Regulations under FSSA, we at GSA
                    also promote Strategical Behavioral Change Approach and also work towards easy availability of alternative healthy food options.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5" id="listimg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/world-hypertension-day ">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/orientation-sessions/1.png" class="card-img-top rounded-4" alt="project-1">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">World Hypertension Day </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/markfed-vanaspati-plant">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Markfed Vanaspati Plant</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/session-by-global-healthy-advocacy-incubator">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Session by Global Healthy Advocacy Incubator</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/state-level-consultation-on-elimination-of-trans-fat">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">State Level Consultation on elimination of Trans-fat</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/cycle-rally-on-world-heart-day">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Cycle Rally on World Heart Day</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/letter-writing-competition">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Letter Writing Competition</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/elimination-of-trans-fat/district-level-sensitization-workshop-for-stakeholders">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">District Level Sensitization Workshop for Stakeholders</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    #listimg img {
        width: 100%;
        height: 250px !important;
    }
    
    #listimg h4 {
        font-size: 20px;
        text-align: justify;
    }
</style>


{{ end }}