{{ define "main" }}
<div class="bg-volunteer-page">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-7 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1200">
                        <h1 class="fw-bold display-1">Volunteer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-5 mt-5" id="clientscroll">
    <div class="container">
        <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-2 g-4">
            {{ range .Site.Data.photo.items }}
            <div class="col">
                <div class="card text-bg-dark border-0 rounded-4 overflow-hidden transition-3d-hover mb-4">
                    <img src="{{ .image | absURL }}" class="card-img rounded-0" alt="{{ .brand }}">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<!-- <div class="container py-5">
    <div class="py-5">
        <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-2 g-4">
            <div class="col-lg-4">
                <div class="card text-bg-dark border-0 rounded-4 overflow-hidden transition-3d-hover mb-4 portfolio-osahan-w" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="../img/pages/portfolio/portfolio-h/1.jpeg" class="card-img rounded-0" alt="projects">
                    <div class="card-img-overlay d-flex align-items-end p-3">
                        <div class="bg-black bg-opacity-75 rounded-4 px-4 py-3">
                            <h5 class="card-title fw-bold mb-1">Lorem ipsum dolor amet</h5>
                            <small class="mb-0 text-white-50"><i class="ri-link me-2"></i> Web / Multipage Design</small>
                        </div>
                    </div>
                    <a href="single-project.html" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-bg-dark border-0 rounded-4 overflow-hidden transition-3d-hover mb-4 portfolio-osahan-h" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="../img/pages/portfolio/portfolio-h/2.jpeg" class="card-img rounded-0" alt="projects">
                    <div class="card-img-overlay d-flex align-items-end p-3">
                        <div class="bg-black bg-opacity-75 rounded-4 px-4 py-3">
                            <h5 class="card-title fw-bold mb-1">Vehicula ipsum arcu cursus</h5>
                            <small class="mb-0 text-white-50"><i class="ri-link me-2"></i> Web / Multipage Design</small>
                        </div>
                    </div>
                    <a href="single-project.html" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-bg-dark border-0 rounded-4 overflow-hidden transition-3d-hover mb-4 portfolio-osahan-w" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="../img/pages/portfolio/portfolio-h/3.jpeg" class="card-img rounded-0" alt="projects">
                    <div class="card-img-overlay d-flex align-items-end p-3">
                        <div class="bg-black bg-opacity-75 rounded-4 px-4 py-3">
                            <h5 class="card-title fw-bold mb-1">Placerat Vestibulum Lectus</h5>
                            <small class="mb-0 text-white-50"><i class="ri-link me-2"></i> Web / Multipage Design</small>
                        </div>
                    </div>
                    <a href="single-project.html" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
{{ end }}