{{ define "main" }}
<div class="bg-volunteer-page">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-7 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1200">
                        <h1 class="fw-bold display-1">Volunteer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="py-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="fw-bold display-4">Our Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-1.jpg" class="card-img-top rounded-4" alt="volunteer-1">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mr. Amarjeet Singh</h5>
                        <p class="card-text text-muted">President</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-2.jpg" class="card-img-top rounded-4" alt="volunteer-2">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mrs. Surjit Kaur</h5>
                        <p class="card-text text-muted">Vice – President</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-3.jpg" class="card-img-top rounded-4" alt="volunteer-3">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mrs. Manpreet Kaur Arora</h5>
                        <p class="card-text text-muted">Director Operations</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-4.jpg" class="card-img-top rounded-4" alt="volunteer-4">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mr. Vipin Nagi</h5>
                        <p class="card-text text-muted">Secretary</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-5.jpg" class="card-img-top rounded-4" alt="volunteer-5">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mr. Vipan Kumar Bajaj</h5>
                        <p class="card-text text-muted">Joint Secretary</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-6.jpg" class="card-img-top rounded-4" alt="volunteer-6">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mrs. Rekha Rani</h5>
                        <p class="card-text text-muted">Treasurer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-7.jpg" class="card-img-top rounded-4" alt="volunteer-7">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mr. Hakam Singh Jawanda</h5>
                        <p class="card-text text-muted">Media Advisor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-8.jpg" class="card-img-top rounded-4" alt="volunteer-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mrs. Anita Nagi</h5>
                        <p class="card-text text-muted">Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-9.jpg" class="card-img-top rounded-4" alt="volunteer-9">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mrs. Baljit Kaur Kathuria</h5>
                        <p class="card-text text-muted">Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-10.jpg" class="card-img-top rounded-4" alt="volunteer-10">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Ms. Harpreet Kaur</h5>
                        <p class="card-text text-muted">Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-11.jpg" class="card-img-top rounded-4" alt="volunteer-11">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Adv. Harpreet Singh</h5>
                        <p class="card-text text-muted">Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="card text-center border-0 rounded-0" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="/img/profile/profile-12.jpg" class="card-img-top rounded-4" alt="volunteer-12">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Mrs. Ira Suri</h5>
                        <p class="card-text text-muted">Member</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Team Members </h2>
            </div>
        </div>



        <div class="row mt-5">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mr. Jasraj Singh</a></h3>
                            <span class="position">Member</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mrs. K. Singh</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Dr. Manpreet Kaur</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mrs. Savita Mishra</a></h3>
                            <span class="position">Member</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mrs. Sarabjit Kaur Jawanda</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mrs. Simrat Kaur</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Adv. Tania Mahajan</a></h3>
                            <span class="position">Member</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mr. Devinder Singh Matharoo</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mrs. Nirmal Goel</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Rakesh Sharma</a></h3>
                            <span class="position">Member</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Mohinder Kaur</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Sahiba J. Singh</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ashok Kumar</a></h3>
                            <span class="position">Member</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Rajender Pal Singh</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ravinder Kaur</a></h3>
                            <span class="position">Member </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/images/person-icon-1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Gurparshad Suchdev Singh</a></h3>
                            <span class="position">Member</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">

            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">

            </div>

        </div>


    </div>
</section> -->
{{ end }}