{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Initiatives/1715061385982.jpg');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Sensitization Workshop of Police department </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="p-2 card-container">
        <div class="row align-items-center g-0 rounded-5 overflow-hidden card-container-section bg-secondary-subtle">
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3">
                    <div class="row">
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/Initiatives/1715061385955.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                        <div class="col-md-6 d-flex ftco-animate">
                            <img src="/img/Initiatives/1715229846008.jpg" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 z-1">
                <div class="pe-lg-5 p-md-5 p-3" data-aos="fade-left" data-aos-duration="1000">
                    <h1 class="fw-bold display-4">Sensitization Workshop of Police department </h1>
                    <p class="text-muted">Sensitization Workshop of Police Department for police officials from District Panchkula, Yamunanagar, and Ambala was held with the technical support of GSA where they were sensitized about the National Tobacco Control Programme and
                        their role in tobacco control. The workshop was held under the Chairmanship of Mr. Sumer Pratap Singh, ACP, Panchkula, and Dr. Rita Kotwal, State Nodal Officer, NTCP, Haryana. More than 100 Police Officials were sensitized during
                        the session.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}