{{ define "main" }}
<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Gen Next Generation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    The Healthy School Initiative helps schools combat Non-Communicable Diseases (NCDs) through teacher training, student activities, and health education. By promoting NCD awareness and prevention, we create a wellness culture and teach future generations
                    healthy habits. Supported by the World Health Organization (WHO), this program offers expert guidance and resources for lasting success.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5" id="listimg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/gen-next-generation/orientation-sessions">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/orientation-sessions/1.png" class="card-img-top rounded-4" alt="project-1">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Orientation Sessions</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="/gen-next-generation/training-of-trainers">
                    <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                        <img src="/img/healthy-school-initiative/training-of-trainers/2.png" class="card-img-top rounded-4" alt="project-2">
                        <div class="card-body px-0">
                            <h4 class="card-title pb-2">Training of Trainers</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">

            </div>
        </div>
    </div>
</div>

<style>
    #listimg img {
        width: 100%;
        height: 250px !important;
    }
    
    #listimg h4 {
        font-size: 20px;
        text-align: justify;
    }
</style>


{{ end }}