{{ define "main" }}

<div class="bg-about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/tobacco-control/8.png');">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Sensitization Workshop</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 my-4 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">Sensitization Workshop of Police Department for police officials from District Panchkula,Yamunanagar, and Ambala was held with the technical support of GSA where they were sensitized about the National Tobacco Control Programme and their
                    role in tobacco control in. The workshop was held under the Chairmanship of Mr. Sumer Pratap Singh, ACP, Panchkula, and Dr. Rita Kotwal, State Nodal Officer, NTCP, Haryana. More than 100 Police Officials were sensitized during the
                    session.
                </p>
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/8.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                    <div class="col-md-6 d-flex ftco-animate">
                        <img src="/img/tobacco-control/9.png" alt="non-profit" class="img-fluid rounded-4" data-aos="zoom-in-up" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- {{- partial "Awards-and-honours.html" . -}} -->
</div>
<div>
    {{- partial "Collaborations-and-Support.html" . -}}
</div>

{{ end }}