{{ define "main" }}
<div class="hero-wrap" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tobacco control</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="/tobacco-control/coalition-for-tobacco-free-punjab" class="block-20" style="background-image: url('/images/coalition-for-tobacco-free-punjab.png');">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 maxlength="50" class="heading mb-4 titleclear"><a href="/tobacco-control/coalition-for-tobacco-free-punjab">Coalition for Tobacco Free Punjab</a></h3>
                        <p maxlength="100" class="descriptionclear">Coalition for Tobacco Free Punjab was inaugurated and established by GSA.</p>
                        <p><a href="/tobacco-control/coalition-for-tobacco-free-punjab">read more <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="/tobacco-control/tobacco-free-generation" class="block-20" style="background-image: url('/images/tobacco-free-generation.png');">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 maxlength="50" class="heading mb-4 titleclear"><a href="/tobacco-control/tobacco-free-generation">Tobacco Free Generation</a></h3>
                        <p maxlength="100" class="descriptionclear">The Tobacco-Free Generation (TFG) proposal advocates a strong policy inhibiting the sale and supply of tobacco to individuals born after a certain year.</p>
                        <p><a href="/tobacco-control/tobacco-free-generation">read more <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="/tobacco-control/tobacco-free-aam-admi-clinics" class="block-20" style="background-image: url('/images/tobacco-free-aam-admi-clinics.png');">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 maxlength="50" class="heading mb-4 titleclear"><a href="/tobacco-control/tobacco-free-aam-admi-clinics">Tobacco Free Aam Admi Clinics</a></h3>
                        <p maxlength="100" class="descriptionclear">Dr Balbir Singh, Health Minister, Punjab in a State level event called for declaring all 664 Aam Admi Clinics as Tobacco Free to observe State No Tobacco Day, 2023 on 1st November.</p>
                        <p><a href="/tobacco-control/tobacco-free-aam-admi-clinics">read more <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="/tobacco-control/tobacco-free-educational-institutes" class="block-20" style="background-image: url('/images/tobacco-free-educational-institutes.png');">
                    </a>
                    <div class="text p-4 d-block">
                        <h3 maxlength="50" class="heading mb-4 titleclear"><a href="/tobacco-control/tobacco-free-educational-institutes">Tobacco Free Educational Institutes</a></h3>
                        <p maxlength="100" class="descriptionclear">The organisation supported TOFEI implementation in schools of Chandigarh and Harayan by sensitizing the District Education Officers and school administration about the importance of Tobacco Free Schools and how they can self-declare
                            themselves as tobacco free.
                        </p>
                        <p><a href="/tobacco-control/tobacco-free-educational-institutes">read more <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{ end }}