{{ define "main" }}


<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Tobacco control</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    Generation Saviour Association (GSA) is dedicated to safeguarding public health through tobacco control, non-communicable disease (NCD) prevention, and community awareness programs. We collaborate with law enforcement, health professionals, and educational
                    institutions to promote healthier environments. Our efforts include supporting the National Tobacco Control Program (NTCP) through awareness and enforcement drives, organizing health camps, and fostering youth engagement for long-term
                    behavioural change.
                </p>
                <p class="lead">GSA leads initiatives such as Tobacco-Free Buildings, Children Against Tobacco, Healthy School Campaign, and Courtesy Notices to Tobacco Vendors to create lasting community impact. By working closely with schools, policymakers, and local
                    vendors, we ensure a collective approach to public health advocacy.</p>
            </div>
        </div>
    </div>
</div>

<div class="py-3">
    <div class="container py-5">
        <div class="row g-5">
            <!-- ------------------1------------------ -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-1.jpg" class="card-img-top rounded-4" alt="project-1">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Coalition for Tobacco Free Punjab</h4>
                        <p class="card-text text-muted small">Coalition for Tobacco Free Punjab was inaugurated and established by GSA.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/coalition-for-tobacco-free-punjab" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------2------------------ -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-2.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco Free Generation</h4>
                        <p class="card-text text-muted small">The Tobacco-Free Generation (TFG) proposal advocates a strong policy inhibiting the sale and supply of tobacco to individuals born after a certain year.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-generation" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------3------------------ -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-3.jpg" class="card-img-top rounded-4" alt="project-3">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco Free Aam Admi Clinics</h4>
                        <p class="card-text text-muted small">Dr Balbir Singh, Health Minister, Punjab in a State level event called for declaring all 664 Aam Admi Clinics as Tobacco Free to observe State No Tobacco Day, 2023 on 1st November.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-aam-admi-clinics" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------4------------------ -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-4.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco Free Educational Institutes</h4>
                        <p class="card-text text-muted small">The organisation supported TOFEI implementation in schools of Chandigarh and Haryana by sensitizing the District Education Officers and school administration about the importance of Tobacco Free Schools and how they can self-declare
                            themselves as tobacco free.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-educational-institutes" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------5------------------ -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-5.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Awareness sessions</h4>
                        <p class="card-text text-muted small">GSA and Chitkara University held an AIDS awareness session with key speakers and art competitions.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/aids-awareness-session-chitkara" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------6----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-6.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Annual Painting Competition </h4>
                        <p class="card-text text-muted small">GSA’s yearly painting competition engages students in promoting a tobacco-free lifestyle.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/annual-painting-competition-no-tobacco-day" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------7----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-7.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Awareness and Enforcement Drives </h4>
                        <p class="card-text text-muted small">GSA supports enforcement and awareness drives for tobacco control across Punjab, Haryana, and Chandigarh.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/awareness-enforcement-drives" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------8----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-8.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">National Consultation on Tobacco Control Threats </h4>
                        <p class="card-text text-muted small">GSA held a national consultation on emerging trends and threats in tobacco control across India.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/national-consultation-on-tobacco-control-trends" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------9----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-9.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Orientation , Capacity Building Workshop under NTCP , Chandigarh </h4>
                        <p class="card-text text-muted small">GSA supported the NTCP Orientation Workshop for over 100 healthcare professionals and stakeholders.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/ntcp-orientation-workshop-chandigarh" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------10----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-1.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Sensitization cum Review Meeting under NTCP, Punjab </h4>
                        <p class="card-text text-muted small">23 DNOs were sensitized on NTCP responsibilities and action plans for the upcoming year.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/ntcp-review-punjab-2024" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------11----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-2.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Sensitization Workshop </h4>
                        <p class="card-text text-muted small">GSA sensitized police officials from Panchkula, Yamunanagar, and Ambala on NTCP enforcement.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/police-sensitization-tobacco-control" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------12----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-3.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Regional Workshop on Promotion, Adoption & implementation </h4>
                        <p class="card-text text-muted small">Representatives from 9 states attended a workshop on new tobacco control initiatives and policies.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/regional-tobacco-control-workshop" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------13----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-4.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Awareness Session with support of Sanjh Kender </h4>
                        <p class="card-text text-muted small">GSA, with Sanjh Kender, organized a session for Panchayat members to promote tobacco-free villages.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/sanjh-kender-sensitization-session" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------14----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-5.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Sensitization Workshop for High Court employees</h4>
                        <p class="card-text text-muted small">sensitization-workshop-for-high-court-employees</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/sensitization-workshop-for-high-court-employees" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------15----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-6.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Training cum Review Meeting of SNOs and DEOs, Haryana </h4>
                        <p class="card-text text-muted small">Haryana's SNOs and DEOs reviewed TFEI guidelines and COTPA enforcement in a training session.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/sno-deo-training-haryana" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------16----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-7.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">State Level Coordination Committee Meeting, Haryana </h4>
                        <p class="card-text text-muted small">SLCC Haryana directed departments to enforce COTPA and enhance awareness initiatives.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/state-level-coordination-committee-haryana-2021" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------17----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-8.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Haryana SLCC Pushes for Vendor Licensing </h4>
                        <p class="card-text text-muted small">Haryana SLCC stressed tobacco vendor licensing and FCTC 5.3 Empowered Committee formation.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/state-level-coordination-committee-haryana-2024" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------18----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-9.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">State Level Coordination Committee Meeting , Punjab </h4>
                        <p class="card-text text-muted small">Punjab’s SLCC reviewed NTCP implementation and called for a no-tolerance policy for e-cigarettes.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/state-level-coordination-committee-punjab-2021" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------19----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-1.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Punjab SLCC Discusses Tobacco Vendor Licensing </h4>
                        <p class="card-text text-muted small">The 2024 Punjab SLCC meeting emphasized vendor licensing to support tobacco control laws.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/state-level-coordination-committee-punjab-2024" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------20----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-2.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Training for Healthcare Professionals on Tobacco Cessation </h4>
                        <p class="card-text text-muted small">A two-day capacity-building workshop for healthcare professionals was organized in Chandigarh.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-cessation-workshop-chandigarh" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <!-- ------------------21----------------- -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-3.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco-Free Residential Complex Sensitization </h4>
                        <p class="card-text text-muted small">GSA conducted a sensitization activity at Jal Vayu Enclave promoting tobacco-free residential buildings.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-residential-buildings" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>


        </div>
    </div>
</div>


{{ end }}