{{ define "main" }}


<div class="bg-about">
    <div class="py-5">
        <div class="container py-5">
            <div class="row justify-content-center pb-5">
                <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                    <div class="text-center text-white" data-aos="fade-up" data-aos-duration="1500">
                        <h1 class="fw-bold display-1">Tobacco control</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <div class="row align-items-center g-md-5 g-5 mb-5 bg-secondary-subtle rounded-5 p-5 provide">
            <div class="col-lg-12 col-12 mt-0" data-aos="fade-right" data-aos-duration="1000">
                <p class="lead">
                    Generation Saviour Association (GSA) is dedicated to safeguarding public health through tobacco control, non-communicable disease (NCD) prevention, and community awareness programs. We collaborate with law enforcement, health professionals, and educational
                    institutions to promote healthier environments. Our efforts include supporting the National Tobacco Control Program (NTCP) through awareness and enforcement drives, organizing health camps, and fostering youth engagement for long-term
                    behavioural change.
                </p>
                <p class="lead">GSA leads initiatives such as Tobacco-Free Buildings, Children Against Tobacco, Healthy School Campaign, and Courtesy Notices to Tobacco Vendors to create lasting community impact. By working closely with schools, policymakers, and local
                    vendors, we ensure a collective approach to public health advocacy.</p>
            </div>
        </div>
    </div>
</div>

<div class="py-3">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-1.jpg" class="card-img-top rounded-4" alt="project-1">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Coalition for Tobacco Free Punjab</h4>
                        <p class="card-text text-muted small">Coalition for Tobacco Free Punjab was inaugurated and established by GSA.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/coalition-for-tobacco-free-punjab" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-2.jpg" class="card-img-top rounded-4" alt="project-2">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco Free Generation</h4>
                        <p class="card-text text-muted small">The Tobacco-Free Generation (TFG) proposal advocates a strong policy inhibiting the sale and supply of tobacco to individuals born after a certain year.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-generation" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-3.jpg" class="card-img-top rounded-4" alt="project-3">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco Free Aam Admi Clinics</h4>
                        <p class="card-text text-muted small">Dr Balbir Singh, Health Minister, Punjab in a State level event called for declaring all 664 Aam Admi Clinics as Tobacco Free to observe State No Tobacco Day, 2023 on 1st November.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-aam-admi-clinics" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card border-0 rounded-0 text-center h-100" data-aos="zoom-in-up" data-aos-duration="1000">
                    <img src="/img/projects/project-4.jpg" class="card-img-top rounded-4" alt="project-4">
                    <div class="card-body px-0">
                        <h4 class="card-title pb-2">Tobacco Free Educational Institutes</h4>
                        <p class="card-text text-muted small">The organisation supported TOFEI implementation in schools of Chandigarh and Harayan by sensitizing the District Education Officers and school administration about the importance of Tobacco Free Schools and how they can self-declare
                            themselves as tobacco free.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="/tobacco-control/tobacco-free-educational-institutes" class="btn btn-success btn-lg px-4">read more</a></div>
                </div>
            </div>

        </div>
    </div>
</div>


{{ end }}